body{
    font-family: 'Roboto';
}

.hero{
    background-color: #1F2937;
    padding: 20px 300px 100px;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.header-logo{
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links{
    display:flex;
    gap:10px;
}

.header-links,
.hero-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-maintext{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-content img{
    width: 500px;
    height: 200px;
}

.hero-content{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

.hero-text{
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    gap: 10px;
}

.hero-signup button{
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #3882F6;
    font-weight: 900;
    border-radius: 8px;
    padding: 3px 15px;
    border: none;
}